* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main {
    background-image: url('../image/background.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

main::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.content{
    position: relative;
}
.content h1{
    background-color: #c5ddfc;
    color: #4292fe;
    font-size:64px;
}

a{
    text-decoration: none;
}